<section class="contenedor-principal">
    <div class="contenedor listado inicio">
        <h1>Kardex Taller V. 1.1</h1>

        <h2>Funciones</h2>

        <li>Ingresar productos (compras)</li>
        <li>Listar productos y buscar por anotaciones</li>        
        <li>Normalizar productos</li>
        
        <br><br>
        <p>===================================</p>


        <h2>Proximas Funciones</h2>        

        <h2>Proximas Mejoras</h2>
        
        <li>Back End con UI</li>

    </div>
</section>

